@(title: String,results: Html)
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eTOXapp</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

	<!-- Bootstrap SELECT (for selecting items in menus) -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
	
</head>

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
        
        <!-- NAVIGATION  -->
        
            <!--div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">               
		<div class="logo">
                    <a hef="home.html"><img src="@routes.Assets.at("images/ETOX_Project_logo.png")"  class="hidden-xs hidden-sm">
                        <img src="@routes.Assets.at("images/ETOX_Project_logo.png")" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                        
                
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true" style="color:#34495e"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="#"><i class="fa fa-tasks" aria-hidden="true" style="color:#34495e"></i><span class="hidden-xs hidden-sm">Models</span></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <button type="button" class="slide-toggle">Slide Toggle</button>
                <div class="row">
                   
                    <!--header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-2">
                            
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs">
                                    <a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Draw Molecule</a>
                                    </li>
                                </ul>
                        </div>
                    </header>
                   
                   
                </div-->
                <div class="user-dashboard">
                    <h1>eTOXapp</h1>
                    
					<form action="@routes.Application.getPrediction_table" enctype="multipart/form-data" method="POST" role="form">
                   		 <div class="form-group">
							<div class="row">
                    
                        	<div class="col-md-4 col-sm-4 col-xs-12 gutter">
                        
                        		<div class="sales">
                                	<h2>Your Molecule</h2>
                                	<br>
                                	<br>
                                	<p> Here it goes a description of the loaded molecule or molecules </p>
	                                <br>
	                                	<div class="btn-group">
	                                		<div class="col-md-12">
		                                		<span class="btn btn-default btn-file">
												    Browse <input type="file", name="uploadfile">
												</span> or
												<button type="button" class="btn btn-default" data-toggle="modal" data-target="#add_project">Draw Molecule</button>
												<!--a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Draw Molecule</a-->
											</div>
										</div>
                            		</div>
                            	</div>
									
                            <div class="col-md-4 col-sm-4 col-xs-12 gutter">
	                            <div class="sales">
	                                <h2>Your Model</h2>                              
	                                    <div class="btn-group">                      
	                                    	<select  class="selectpicker" name="model" id="model">
											@for(model <- eTOXlab.models.toList) {	
												<option value="@model._1">@model._2._1 version @model._2._4</option>}  
	  										</select>
	  									</div>									
			                                <br>
	                                		<br>
	                                		<br>
											<p> Here it goes a description of the selected MODEL </p> 
									      	<br>
									    <div class="btn-group">  	
											<button type="submit" class="btn btn-default" style="background:#5584ff; color:#ffffff">Submit</button>
										</div>
									
                                   
                           		</div>
                        	</div>
                          </div>
                       </div> 
                        	
                         
						</form>
						
                        <div class="col-md-8 col-sm-8 col-xs-12 gutter">
                            <div class="sales report">                          		                               
                                <h2>Results</h2>
                                <br>
                                <br>
                                <div class="table-responsive">
                              	@results
                                </div>
                                <!--  div class="btn-group">
                                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span>So:</span> and So
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#">2012</a>
                                        <a href="#">2014</a>
                                        <a href="#">2015</a>
                                        <a href="#">2016</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>  
	</div>
    



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Draw Mol</h4>
                </div>
                <div class="modal-body">                    
		    <div id="jsme_container"></div>
		    <button type="button" onclick="alert(jsmeApplet.smiles())">Show SMILES</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <!-- jQuery -->
    <script src="@routes.Assets.at("javascripts/jquery.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>

    <!--JSME-->

    <script type="text/javascript" language="javascript" src="@routes.Assets.at("JSME_2017-02-26/jsme/jsme.nocache.js")"></script>
	
	<!-- bootstrp select -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
	<script>
	$('.selectpicker').selectpicker();
	</script>

    <script>
    //this function will be called after the JavaScriptApplet code has been loaded.
    function jsmeOnLoad() {
        jsmeApplet = new JSApplet.JSME("jsme_container", "380px", "340px",{"options" : ""});
    }
    </script>

    <script>
	$(document).ready(function(){
	   $('[data-toggle="offcanvas"]').click(function(){
	       $("#navigation").toggleClass("hidden-xs");
	   });
	});
    </script>
 
</body>
</html>