@(title: String, mol_info: Html, results: Html, executive_summary: Html)
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eTOXapp</title>

    <!-- Bootstrap Core CSS -->
    <link href='@routes.Assets.at("stylesheets/bootstrap.min.css")' rel="stylesheet">
    <!-- Custom CSS -->
    <!-- link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet"-->
    <!-- FileInput -->
    <link href='@routes.Assets.at("stylesheets/fileinput.min.css")' media="all" rel="stylesheet" type="text/css" />
    <link href='@routes.Assets.at("stylesheets/loader.css")' media="all" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- Bootstrap SELECT (for selecting items in menus) -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" rel="stylesheet">
    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    <!-- Field validator-->
    <script src=" https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>
    <!--JSME-->
    <script type="text/javascript" language="javascript" src='@routes.Assets.at("JSME_2017-02-26/jsme/jsme.nocache.js")'></script>
    <!--Data Table-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.15/fh-3.1.2/r-2.1.1/datatables.min.js"> </script>
    <!--Scroll Nav-->
    <link href='@routes.Assets.at("stylesheets/scrolling-nav.css")' rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">eTOXlab LQT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#results">Results</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section class="container-fluid" style="padding-top:40px;">

        <div class="row row-eq-height">
            <!-- Left -->
            <div class="col-md-4 col-md-offset-1" style="padding-right:0px;">
                <h3 class="text-center">Input Molecules</h3>
                <div class="col-md-10 col-md-offset-1 text-center" style="padding-top:40px;">
                    @helper.form(action = routes.Application.upload_Molecule,'enctype -> "multipart/form-data", 'id ->
                    "molecule_form"){
                    <label class="control-label">Select File</label>
                    <input id="input-1" type="file" class="file" data-show-preview="false" name="uploadfile">

                    <!--h5 style="padding-top:15px; padding-bottom:15px;">or</h5-->
                    <!-- JSME BUTTON. Commented until v0.2-->
                    <!--button type="button" class="btn btn-default" data-toggle="modal" data-target="#draw_mol">Draw
                        Molecule
                    </button-->
                    }
                    <label class="control-label" style="color: red;">@title</label>
                </div>
            </div>
            <form action=@routes.Application.getPrediction_table method=POST enctype="multipart/form-data"
                  id="model_form" data-toggle="validator">
            <!-- Right -->
                <div class="col-md-4 col-md-offset-1">
                    <h3 class="text-center">Select Model</h3>
                        <fieldset class="form-group row" style="padding-top:35px;">

                            <!-- MODEL SELECTOR -->

                            <div class="col-md-6 col-md-offset-4" style=" max-height: 100%;">

                                <!--Hard Coded Model Selector (Sorted)=-->
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="model" value="/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/7#1"
                                               required>
                                        @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/7#1")._1 version @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/7#1")._4
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="model" value="/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/8#1"
                                               required>
                                        @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/8#1")._1 version @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/QT Prolongation/8#1")._4
                                    </label>
                                </div>

                                <div class="form-check" style="padding-top: 10px;">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="model" value="/Toxicity/Organ Toxicity/Cardiotoxicity/hERG inhibition/3#1"
                                               required>
                                        @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/hERG inhibition/3#1")._1 version @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/hERG inhibition/3#1")._4
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="model" value="/Toxicity/Organ Toxicity/Cardiotoxicity/Cav1.2 inhibition/1#1"
                                               required>
                                        @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/Cav1.2 inhibition/1#1")._1 version @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/Cav1.2 inhibition/1#1")._4
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="model" value="/Toxicity/Organ Toxicity/Cardiotoxicity/KCNQ1 inhibition/1#1"
                                               required>
                                        @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/KCNQ1 inhibition/1#1")._1 version @eTOXlab.models("/Toxicity/Organ Toxicity/Cardiotoxicity/KCNQ1 inhibition/1#1")._4
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                </div>

            <div class="row row-eq-height">
                <div class="col-md-4 col-md-offset-1" style="padding-right:0px;">
                    <div id="mol_info">
                        @mol_info
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1" style="padding-right:0px;">
                    <div id="executive_summary">
                        @executive_summary
                    </div>
                </div>
            </div>




            <!-- Submit Button -->
            <div class="row" style="padding-top:50px">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <button type="submit" class="btn btn-default btn-lg"
                            style="background:#cd3131; color:#ffffff; border-radius:100px; border: 0 none;">Submit
                    </button>
                </div>
            </div>
        </form> <!-- END of form helper -->



<!-- hiden input for JSME -->
<!--input id="smiles" type="hidden" name="smiles"-->

    <!-- RESULTS -->
    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                @results
            <img src='@routes.Assets.at("images/Preloader_4.gif")' id="gif" style="display: block; margin: 0 auto; visibility: hidden;">
            </div>
        </div>
    </div>

    <!-- LOGOS -->

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-top: 40px;">
            <div class="col-md-4 photo">
                <img src='@routes.Assets.at("images/efpia.png")'>
            </div>
            <div class="col-md-4 photo">
                <img src='@routes.Assets.at("images/eu_logo.jpg")'>
            </div>
            <div class="col-md-4 photo">
                <img src='@routes.Assets.at("images/imi_logo.jpg")' style="width: 160px">
            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
$('#model_form').submit(function() {
    $('#gif').css('visibility', 'visible');
});
</script>


<!-- Modal. Comented til v0.2 -->

<!--div id="draw_mol" class="modal fade" role="dialog">
    <div class="modal-dialog">


        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Draw Molecule</h4>
            </div>
            <div class="modal-body">
                <div id="jsme_container"></div>

            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-default" onclick='getMolfile();' data-dismiss="modal" name="uploadfile">
                        Upload Molecule
                    </button>

                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>

    </div>
</div-->


</body>


<!--FILE INPUT -->
<script src='@routes.Assets.at("javascripts/fileinput.min.js")'></script>
<!-- Scrolling Nav JavaScript -->
<script src='@routes.Assets.at("javascripts/jquery.easing.min.js")'></script>
<script src='@routes.Assets.at("javascripts/scrolling-nav.js")'></script>
<!-- bootstrp select -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
<!-- Select picker -->
<script>
	$('.selectpicker').selectpicker();
</script>

<!-- JSME js handler for version 0.2 -->
<!--script>
        function jsmeOnLoad() {
            jsmeApplet = new JSApplet.JSME("jsme_container",
                    "560px", "380px", {
                        "options" : "query"
                    });
            document.JME = jsmeApplet;
        };
</script>
<script>
       function getMolfile() {
        	var mol = document.JME.molFile();     	
        	var smiles = document.JME.smiles();
        	console.log('SMILES '+ smiles);            
            console.log($('#smiles'))
            $('#smiles')[0].value=smiles;
            document.JME.close();
			};
</script-->

<script>
    $(document).ready(function() {
        $('[data-toggle="offcanvas"]').click(function() {
            $("#navigation").toggleClass("hidden-xs");

        });

    });
</script>
<script>
    $(document).ready(
            function()
            {

                $('#executive_summary').load(
                        '/modelinfoVW?tag=/Toxicity/Organ%20Toxicity/Cardiotoxicity/QT%20Prolongation/7');
            });
    $(document).ready(


            function() {
                $("input[name=model]:radio").change(
                        function() {
                            //console.log("hello wolrd")
                            //console.log(this.value)
                            //console.log('/modelinfo?tag='+this.value)
                            var tag = this.value.replace(/ /g,
                                    "%20") //ugly encoding hack.
                            $('#executive_summary').load(
                                    '/modelinfoVW?tag='
                                            + encodeURI(tag));
                        });
            });
</script>
<script>
    $(document).ready(function() {
        $('#results_table').DataTable({
            "scrollY":        "550px",
            "scrollCollapse": true,
            "paging":         false,
            "searching" :     false

        });
    });

</script>
<script>
    if($("#results")[0]){
        document.getElementById('results').scrollIntoView();}
</script>

</body>
</html>


