@(title: String)

<html>
  <head>

</head>

<body>

<form action="@routes.Application.getPrediction" enctype="multipart/form-data" method="POST" role="form">

	<div class="form-group">
   		<table>
			<tr>
    
    			Model:
    				<select name="model" id="model">
					@for(model <- Application.models.toList) {	<option value="@model._1">@model._2._2 version @model._2._4</option>}  
  					</select>
			</tr>
		</table>

			<br>
				Input file: <input type="file" name="uploadfile" size="30"><br>

			<br>
	</div>  
		        	
		<button class="btn btn-default" type="submit">Calculate</button>
</form>


<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>

</body>
</html>
